[submodule "src/robotiq_85_gripper"]
	path = src/robotiq_85_gripper
	url = https://github.com/neka-nat/robotiq_85_gripper.git
[submodule "src/universal_robot"]
	path = src/universal_robot
	url = https://github.com/ros-industrial/universal_robot
