[submodule "universal_robot"]
	path = src/universal_robot
	url = https://github.com/ros-industrial/universal_robot
	branch = melodic-devel
[submodule "robotiq_85_gripper"]
	path = src/robotiq_85_gripper
	url = https://github.com/ustcsiwei88/robotiq_85_gripper
